body {
  background-image: url("derpy.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80%;
  background-size: contain;
}

h1 {
  position: 30%;
  margin-left: 50px;
  font-family: Arial,Helvetica,sans-serif;
  color: #2F4F4F;
}

#derpysearch {
  width: 350px;
#  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px 10px;
}

input[type=text], select, textarea {
  background: transparent;
  padding: 6px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
  float: right;
}

input[type=submit] {
  background-color: #2F4F4F;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
  float: right;
}

input[type="submit"]:hover {
  color: #000;
}

.footer {
  font-size: 60%;
  position: fixed;
  left: 5%;
  bottom: 1%;
  width: 100%;
  text-align: left;
  opacity: 0.2;
}
