body {
  background-image: url("derpy.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80%;
  background-size: contain;
}

h1 {
  position: 30%;
  margin-left: 50px;
}

derpysearch {
  position: 30%;
  width: 450px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px 10px;
}

input[type=text], select, textarea {
  padding: 6px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
  position: center;
}

input[type=submit] {
    background-color: #2F4F4F;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  margin: 4px;
  right: 0px;
}

div.border {
  position: 40%;
  border-radius: 5px;
  padding: 20px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: left;
  opacity: 0.2;
}
